@media (max-width: 1080px){
	.navbar{width: 80%; border: none;}
	 
	
	.navbar-brand{ float: left;}
	
	.navbar-default .navbar-nav li a{height: 35px; padding-left: 10px; padding-right: 10px; }
	.dropdown-menu{width: 400px; top: 50px; }
	.dropdown-menu ul{list-style: none; padding: 0px;}
	.dropdown-menu ul li{margin: 5px 5px 5px 5px;}
	.dropdown-menu ul li a.list{font-size: 13px;}
	.dropdown-menu ul li a.list1{font-size: 11px;}

	#home .col-md-6{float: left; width: 50%; display: block;}
	.home-top-left{top: -100px; position: absolute;}
	.home-top-left h1{font-size: 20px; font-weight: 600;}
	
	.search-box{width: 20%;}
	.sb-search{right: 35px;}

	.sb-search-input{width: 100%; display: inline-block; position: relative; }

	.galy-info{display: block;position: relative;}
  	 .galy-info p{display: inline-block; font-size: 15px; font-weight: 600; margin-top: 5px;}
  	 .galy-info h2{color: #ccc; font-size: 20px; display: block; right: 0; top: 15px; position: absolute;}
  	 .galy-info .rating{left: 0; top: 35px; position: absolute; display: block; }
  	 .galy-info .rating i.fa-star-o{cursor: pointer;font-size: 10px;}
  	 .galy-info .rating i.fa-star-o:hover{cursor: pointer; background-color: yellow;}	

	#home-bottom{ width: 100%; position: relative;
	 display: block; left: 0; right: -20px; padding: 0; margin: 0; bottom: 40px;}
	 .gallery-grids .col-sm-3{width: 25%;padding: 5px 5px 5px 5px; margin: 0px; left: 0;
	padding-bottom: 40px; float: left; position: relative; display: block;}

	#home-bottom h1{font-weight: 500; margin-bottom: 30px; font-size: 20px;}
	#home-bottom .col-sm-3 .galy-info p{ top: -20px;font-size: 15px; position: relative;}

/* footer css */
	#footer{ padding: 0; margin-bottom: 50px; position: relative; display: block;}
#footer .col-sm-2{float: left; display: block;position: relative;  }
	 #footer .col-sm-2 h2{ font-size: 0.9em; margin-bottom: 0.5em; text-transform: uppercase;}
	#footer .col-sm-4{float: left; display: block; position: relative; margin-top: 10px; }

}

@media(max-width: 991px){
	body{overflow: scroll;}
	.navbar{width: 90%;  }
	.navbar-default .navbar-header{ width: 26%;  }
	h1.navbar-brand{font-size: 2em; }
	
	.navbar-default .navbar-nav li a{height: 35px; padding-left: 9px; padding-right: 9px;}


 		.dropdown-menu{border: none; width: 400px; left: -70px; }
 		.dropdown-menu ul{padding: 0; margin: 0;}
 		.dropdown-menu ul li{margin: 0; padding-top: 5px; padding-bottom: 5px;}
 		.dropdown-menu ul li a.list{font-size: 13px;}
		.dropdown-menu ul li a.list1{font-size: 12px;}

	.search-box{width: 10%; position: relative; display: inline-block;}
	.sb-search-input{width: 0%; display:block; position: absolute;}

	#home .col-md-6{float: left; width: 50%; display: block;}
	.home-top-left{top: -100px; position: absolute;}
	.home-top-left h1{font-size: 20px; font-weight: 600;}


	#home-bottom{ width: 100%;  position: relative;
	 display: block; left: 0; right: -20px; padding: 0; margin: 0; bottom: 40px;}
	 .gallery-grids .col-sm-3{width: 25%;padding: 5px 5px 5px 5px; margin: 0px; left: 0;
	padding-bottom: 40px; float: left; position: relative; display: block;}

	#home-bottom h1{font-weight: 500; margin-bottom: 30px; font-size: 20px;}
	#home-bottom .col-sm-3 .galy-info p{ top: -20px;font-size: 12px; position: relative;}

	#footer-formField{top: -50px; display: block; position: relative;}
	#footer-formField .col-sm-5{display:block; position: relative; width: 40%; float: left; }
	#footer-formField .col-sm-5 .left h1{text-align: center; position: relative; font-size: 1.2em; margin-left: -15px;}
	#footer-formField .col-sm-7{width: 60%; display:block; position: relative; float: left;}
	#footer-formField .col-sm-7 .right .email-field{width: 80%; float: left; display: block; position: relative;
	 margin-left: -15px;}
	 #footer-formField .col-sm-7 .right .submit-field{width: 20%; float: right; display: block;position: relative; right: 0;}

	 /* footer css */
	 #footer{margin-top: -50px; margin-bottom: 50px; padding: 0; position: relative; display: block;}
#footer .col-sm-2{float: left; display: block;position: relative; width: 15%; }
	 #footer .col-sm-2 h2{ font-size: 0.9em; margin-bottom: 0.5em; text-transform: uppercase;}

 #footer .col-sm-4{float: left; display: block; position: relative; width: 40%;}
}