@media (min-width: 641px) and (max-width: 991px){

	h1.navbar-brand{width: 200px; line-height: 22px;
  text-transform: capitalize; font-family: 'Corben-Regular'; font-size: 2.5em;}

	.col-md-6{display: block; float: left; width: 50%;}
	.banner-grid1 h1{font-size: 25px; font-weight: 600;}

	.featuredProducts{margin-bottom: 10px; font-size: 20px;}

	.gallery-grids{display: block; width: 100%; }
  	.col-sm-3{float: left; width: 25%; display: block;}

  	.subscribe1{display: inline-block
  		; width: 40%; float: left;}
  .subscribe1 h1{display:block; text-align: center; font-size: 18px;}

  .subscribe2{display: inline-block; width: 60%;}
  .subscribe2 form input.email-field{width: 70%;}
  .subscribe2 form input.submit-field{width: 25%;}

  #login .col-sm-6{ width: 100%; padding: 0;}
  	/* footer css */
  	 	#footer{ margin-top: 0; display: block; margin-bottom: 50px; }
  	 	#footer .col-sm-2{width: 16%; float: left; }
#footer .col-sm-2 h2{ font-size: 13px; text-transform: uppercase;}
#footer .col-sm-2 ul{list-style: none; padding: 0;}
#footer .col-sm-2 ul li a{color: #B7B4B4; text-decoration: none;}
#footer .col-sm-2 ul li a:hover{color: #000;}


#footer .col-sm-4 ul{list-style: none; display:block; }
#footer .col-sm-4 ul li{float: left; display: block;}
#footer .col-sm-4 ul li a{font-size: 1.5em; color: #000; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 ul li a:hover{font-size: 1.5em; color: #B7B4B4; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 p{color: #B7B4B4; line-height: 2em; font-size: 0.9em;}
#footer .col-sm-4 p a{color: #B7B4B4; line-height: 2em; font-size: 1em;}

/* account styles */

        #account{padding: 50px 0px;}
}

@media (min-width: 992px ) and (max-width: 1080px){
	h1.navbar-brand{ line-height: 22px;
  text-transform: capitalize; font-family: 'Corben-Regular'; }
  h1.navbar-brand a{font-size: 30px;}

  .subscribe1{display: inline-block
  		; width: 40%; float: left;}
  .subscribe1 h1{display:block; text-align: center; font-size: 18px;}

  .subscribe2{display: inline-block; width: 60%;}
  .subscribe2 form input.email-field{width: 70%;}
  .subscribe2 form input.submit-field{width: 25%;}
  #footer .col-sm-2 h2{ font-size: 13px; text-transform: uppercase;}

  /* login form */
  #login{display: inline-block; }
  #login .col-sm-6{padding: 0;}
#login .creat-new-acount h2{ font-size: 17px; font-weight: 600; }
#login .creat-new-acount p{font-size: 14px;}
#login .login-customer h2{ font-size: 17px; font-weight: 600;}
#login .login-customer p{font-size: 14px;}

/* account styles */

        #account{padding: 50px 0px;}
}