@media(max-width: 480px){
	.navbar{width: 90%;  }
	.navbar-default .navbar-header{float: left; width: 100%; border: none; }
	
	
	
	.search-box{width: 10%;}
	.sb-search-input{width: 83%; display: inline-block; position: relative; }


	#home .col-md-6{float: left; width: 100%; display: inline-block; padding: 0; margin: 0;}
	.home-top-left{top: -200px; position: relative; margin-bottom: 0px; padding-bottom: 0px;}
	.home-top-left h1{font-size: 20px; font-weight: 600;}
	.home-top-left a{padding: 10px 30px 10px 30px; }

	.home-top-rights{top: -220px; width: 100%; position: relative; margin-top: 0px; padding-top: 0px;
	 display: inline-block;}
	.home-top-right img{width: 250px; margin-left: 50px; }

	#home-bottom{top: -250px; width: 100%; position: relative;
	 display: inline-block; left: 0; right: -20px; padding: 0; margin: 0;}

	 #home-bottom h1{font-weight: 500; margin-bottom: 30px; font-size: 20px;}
	
	.gallery-grids .col-sm-3{width: 50%;padding: 5px 5px 5px 5px; margin: 0px; left: 0;
	padding-bottom: 40px; float: left; position: relative; display: block;}

	#home-bottom .col-sm-3 .galy-info p{font-size: 12px; top: -20px; position: relative;}

	/* login style */

	#login .creat-new-acount{ margin-bottom: 30px; }

	/* #footer-formField css */
	#footer-formField{top: -70px; display: block; overflow: hidden; position: relative;}
	#footer-formField .col-sm-5{display: inline-block; position: relative; width: 100%; }
	#footer-formField .col-sm-5 .left h1{text-align: center; position: relative; font-size: .9em;}
	#footer-formField .col-sm-7{width: 100%; display: inline-block;}

/* footer css */

#footer{margin-top: -70px; margin-bottom: 50px; padding: 0; position: relative; overflow: hidden; display: inline-block;}

#footer .col-sm-2{float: left; display:inline-block;position: relative; width: 100%; }
	 #footer .col-sm-2 h2{ font-size: 0.9em; margin-bottom: 0.5em; text-transform: uppercase;}

 #footer .col-sm-4{float: left; display: inline-block; position: relative; width: 100%;}

}