@media(max-width: 480px){
	.lang_list{ display: inline-block; width: 100px; }

	.top-right{ display: inline-block; width: 70px; float: right;}
	.top-right a{text-align: right; margin: 15px 0px;display: block; font-size: 16px;color: #fff; font-weight: 600;
  text-transform: uppercase;text-decoration: none;}

  .navbar-default{background-color: #fff;display: inline-block;border: 0; margin-top: 1em;}
  .navbar-default .navbar-nav li a{text-transform: uppercase; color: #999; padding-top: 21px;}
  h1.navbar-brand{width: 150px; line-height: 22px;
  text-transform: capitalize; font-family: 'Corben-Regular'; font-size: 2.5em;}

  #home{padding-bottom: 0px;  }

  .banner-grid1{text-align: center; margin-top: 50px; }
  .banner-grid1 h1{font-size: 25px;}
  .banner-grid1 a{color: #000; background-color: transparent; text-transform: uppercase; font-size: 13px;
  	border-radius: 0; border: 2px solid #000; font-weight: 700; padding: 10px 30px 10px 30px; margin-top: 20px;}
  	.banner-grid2{ margin-top: 20px; display: inline-block;}
  	.banner-grid2 img{width: 250px; margin-left: 20px;}

  	.featuredProducts{margin-bottom: 10px; font-size: 18px;}
  .gallery-grids{display: block; width: 100%; }
  .col-sm-3{float: left; width: 50%; display: block;}

  .galy-info p{font-size: 12px; display: inline-block;}

  .subscribe1{display: inline-block;text-align: center;}
  .subscribe1 h1{display: inline-block; text-align: center;}

  .subscribe2{display: inline-block;}
  .subscribe2 form input.email-field{width: 200px;}
  .subscribe2 form input.submit-field{width: 100px;}

  /* login form */
#login{display: inline-block;}
#login .col-sm-6{padding: 0;}
#login .creat-new-acount h2, .login-customer h2{ font-size: 15px; font-weight: 600; }
#login .creat-new-acount p, .login-customer p{font-size: 13px;}

/* account styles */

        #account{padding: 0px 0px;}
        #account .personal-info, .login-info{width: 100%;}
        #account .personal-info .form-group, .login-info .form-group{ width: 50%; }



}