
#header-top{background-color: #000; position: relative;}
.lang_list{margin: 15px 0; width: 150px; float: left; }
.lang_list .dropdown{border: none;}

.top-right{width: 50px; float: right;}
.top-right a{text-align: right; margin: 15px 0px; display: block; font-size: 16px; color: #fff; font-weight: 600;
text-transform: uppercase; text-decoration: none;}

.navbar-default{background-color: #fff; border: none; margin-top: 30px;}
.navbar-brand{ margin-top: 0px; margin-bottom: 0px;}
.navbar-brand a{text-decoration: none; color: #000; font-size: 30px; font-family: "Times New Roman", Times, serif;}
#products-name{}

.navbar{position: relative; width: 80%; float: left; min-height: 10px; margin-bottom: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav >
 .open > a:focus{background-color: #fff; color: #555;}
.navbar-default .navbar-header{float: left; width: 35%; margin-top: 1em;} 

.navbar-default .navbar-nav li a{text-transform: uppercase; color: #999; padding-top: 21px;}

h1.navbar-brand{text-transform: capitalize; font-family: 'Corben-Regular'; font-size: 2.5em;}
h1.navbar-brand a{text-decoration: none; color: #000;}
.navbar-brand{float: left;font-size: 36px; line-height: 22px;padding: 0;}
 .dropdown-menu{width: 600px;}
 .dropdown-menu ul{list-style: none; margin: 0px; padding: 10px;}
 .dropdown-menu ul li{margin: 5px 0px 5px 10px;}
 .dropdown-menu ul li a.list{color: #262626; text-decoration: none; font-size: 15px; font-weight: 600;}
 .dropdown-menu ul li a.list1{color: #262626; text-decoration: none;}


  /* home css */

  #home{padding-bottom: 50px; overflow: hidden;}

  .home-top-left{text-align: center; margin-top: 250px; float: left;}
  .home-top-left a{color: #000; background-color: transparent; text-transform: uppercase; font-size: 13px;
  	border-radius: 0; border: 2px solid #000; font-weight: 700; padding: 10px 50px 10px 50px;}
  .home-top-left a:hover{background-color: #000; color: #fff; font-weight: 700; border: 2px solid #000; border-radius: 0;}
  .home-top-right{ float: left; margin-top: 50px;}
/* home-bottom css */

.home-bottom-heading{margin-bottom: 50px; font-size: 25px;}
  .gallery-grids{display: block;position: relative;}
  .col-sm-3{display: block; position: relative; padding-bottom: 30px; float: left;}
  .gallery{ position: relative; display: block;}
  .col-sm-3 img{border: 1px solid #eee;}
  .col-sm-3 a{text-decoration: none; display: block;}
  .col-sm-3 img:hover{ border: 1px solid #999;}
  
  .quick {text-align: center; color: #000; font-size: 17px; height: 30px; opacity: 0; top: -30px; display: block;}
  i.fa .fa-eye{top: 3px;color: #000;}

  .col-sm-3:hover .quick{background-color: #999;background-color: rgba(25, 23, 23, 0.4); color: #fff; display: block; height: 30px; 
  	 position: relative; padding-top: 5px;  font-size: 17px; opacity: 1;}

  	 .galy-info{display: block;position: relative;}
  	 .galy-info p{display: inline-block; font-size: 17px; font-weight: 600; margin-top: 5px;}
  	 .galy-info h2{color: #ccc; font-size: 20px; display: block; right: 0; top: 15px; position: absolute;}
  	 .galy-info .rating{left: 0; top: 35px; position: absolute; display: block; }
  	 .galy-info .rating i.fa-star-o{cursor: pointer;font-size: 10px;}
  	 .galy-info .rating i.fa-star-o:hover{cursor: pointer; background-color: yellow;}


  	 /* header-formField css */

  	 #footer-formField{background-color: #eee; width: 100%; border-top: 1px solid #CCC0C0; border-bottom: 1px solid #CCC0C0;
  	 	padding: 1em 0em 2em 0em; margin: 2em 0 2em 0; overflow: hidden;}

  	 	#footer-formField .col-sm-5{float: left;}
  	 	#footer-formField .col-sm-5 .left h1{font-size: 1.5em; font-weight: 600; color: #000; text-align: center;}
  	 	#footer-formField .col-sm-7{float: right;}
  	 	#footer-formField .col-sm-7 .right{margin-top: 1em;}
  	 	#footer-formField .col-sm-7 .right form input.email-field{width: 76%; padding: 7px 7px; float: left; }
  	 	#footer-formField .col-sm-7 .right form input.submit-field{width: 20%;
  	 	position: relative; background: transparent; border: 2px solid#000;
  	 		color: #000; font-size: 15px; font-weight: 600; float: right; padding: 7px 7px;}
  	 #footer-formField .col-sm-7 .right form input.submit-field:hover{background: #000; color: #fff; border: 2px solid#000;
  	 	font-weight: 600; padding: 7px 7px;}

      /* login style */

      #login{display: block; position: relative; width: 100%; padding: 80px 0px; overflow: hidden;}
      #login .container{padding-left: 0px; padding-right: 0px;}
      #login .creat-new-acount h2{ text-transform: uppercase; font-size: 18px; font-weight: 600; }
      #login .creat-new-acount p{color: #999;}
      #login .creat-new-acount a{margin-top: 20px; text-transform: uppercase; border-radius: 0px; border: 2px solid#000;
        background-color: transparent; font-weight: 590; padding: 8px 15px 8px 15px;}
      #login .creat-new-acount a:hover{margin-top: 20px; text-transform: uppercase; border-radius: 0px; border: 2px solid#000;
        background-color: #000; font-weight: 590; color: #fff; padding: 8px 15px 8px 15px;}

      #login .login-customer h2{text-transform: uppercase; font-size: 18px; font-weight: 600;}
      #login .login-customer p{color: #999;}
      #login .login-customer form{margin-top: 40px;}
      #login .login-customer form .username{display: inline-block; width: 100%; font-size: 11px; color: #999; margin-bottom: 10px;}
      #login .login-customer form .user-name{width: 90%; padding: 3px 10px;
      border: 1px solid#000; display: inline-block; position: relative; margin-bottom: 20px;}
      #login .login-customer form a.forgt{color: #000; margin-top: 10px;}
      #login .login-customer form a.forgt:hover{color: #ff0000;margin-top: 10px;}
      #login .login-customer form span a{border: 2px solid#000; background: transparent; border-radius: 0; padding: 10px 15px;
        text-transform: uppercase; font-weight: 500;margin-top: 10px;}
      #login .login-customer form span a:hover{border: 2px solid#000; background: #000; border-radius: 0; padding: 10px 15px;
        text-transform: uppercase; font-weight: 500; color: #fff;margin-top: 10px;}

  	 	/* footer css */
  	 	#footer{padding: 1em 0;}
#footer .col-sm-2 h2{ font-size: 1.1em; margin-bottom: 0.5em; text-transform: uppercase;}
#footer .col-sm-2 ul{list-style: none; padding: 0; font-size: 0.9em;}
#footer .col-sm-2 ul li a{color: #B7B4B4; line-height: 2em; text-decoration: none;}
#footer .col-sm-2 ul li a:hover{color: #000;}

#footer .col-sm-4 ul{list-style: none; display: inline-block; padding: 0;}
#footer .col-sm-4 ul li{float: left; display: block;}
#footer .col-sm-4 ul li a{font-size: 1.5em; color: #000; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 ul li a:hover{font-size: 1.5em; color: #B7B4B4; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 p{color: #B7B4B4; line-height: 2em; font-size: 0.9em;}
#footer .col-sm-4 p a{color: #B7B4B4; line-height: 2em; font-size: 1em;}










