
#header-top{background-color: #000; }
.lang_list{margin: 15px 0; width:50%; display: inline-block; }
.lang_list .dropdown{border: none;}

.top-right{ display: inline-block; width: 49%;}
.top-right a{text-align: right; margin: 15px 0px;display: block; font-size: 16px;color: #fff; font-weight: 600;
  text-transform: uppercase;text-decoration: none;}

.navbar-default{background-color: #fff;width: 100%;border: none;margin-top: 1em;}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav >
 .open > a:focus{background-color: #fff; color: #555;}
.navbar-default .navbar-header{ margin-top: 1em; display: block;} 

.navbar-default .navbar-nav li a{text-transform: uppercase; color: #999; padding-top: 21px;}

h1.navbar-brand{margin: 0;padding: 0;width: 300px; line-height: 22px;
  text-transform: capitalize; font-family: 'Corben-Regular'; font-size: 2.5em;}
h1.navbar-brand a{text-decoration: none; color: #000; font-size: 30px; font-family: "Times New Roman", Times, serif;}

 .dropdown-menu{width: 600px;}
 .dropdown-menu ul{list-style: none; margin: 0px; padding: 10px;}
 .dropdown-menu ul li{margin: 5px 0px 5px 10px;}
 .dropdown-menu ul li a.list{color: #262626; text-decoration: none; font-size: 15px; font-weight: 600;}
 .dropdown-menu ul li a.list1{color: #262626; text-decoration: none;}


  /* home css */

  #home{padding-bottom: 50px; }

  .banner-grid1{text-align: center; margin-top: 250px; }
  .banner-grid1 a{color: #000; background-color: transparent; text-transform: uppercase; font-size: 13px;
  	border-radius: 0; border: 2px solid #000; font-weight: 700; padding: 10px 50px 10px 50px;}
  .banner-grid1 a:hover{background-color: #000; color: #fff; font-weight: 700; border: 2px solid #000; border-radius: 0;}
  .banner-grid2{ margin-top: 50px; display: inline-block;}
/* home-bottom css */

.featuredProducts{margin-bottom: 50px; font-size: 25px;}
  .gallery-grids{display: block; }
  
  .gallery{display: block;}
  .gallery img{border: 1px solid #eee;}
  .gallery a{text-decoration: none; }
  .gallery img:hover{ border: 1px solid #999;}
  
  .quick {text-align: center; color: #000; font-size: 17px; height: 30px; opacity: 0; top: -30px; display: block;}
  i.fa .fa-eye{top: 3px;}

  .gallery-grid:hover .quick{background-color: #999;background: rgba(25, 23, 23, 0.4); color: #fff;  height: 30px; 
  	  padding-top: 5px;  font-size: 17px; opacity: 1; position: relative;}

  	 .galy-info{}
  	 .galy-info p{display: inline-block; margin-top: 0; font-size: 15px; font-weight: 600;}
  	 .galy-info h2{color: #ccc; font-size: 20px; margin-top: 0px; float: right;}
  	 .galy-info .rating{ float: left;}
  	 .galy-info .rating i.fa-star-o{cursor: pointer;font-size: 10px;}
  	 .galy-info .rating i.fa-star-o:hover{cursor: pointer; background-color: yellow;}


  	 /* header-formField css */

  	 #footer-formField{background-color: #eee; width: 100%; border-top: 1px solid #CCC0C0; border-bottom: 1px solid #CCC0C0;
  	 	padding: 1em 0em 2em 0em; margin: 2em 0 2em 0;}

  	 	.subscribe1 h1{font-size: 1.5em; font-weight: 600; color: #000; text-align: center;}
  	 	.subscribe2{margin-top: 1em;}
  	 	.subscribe2 form input.email-field{width: 450px; height: 40px; padding: 7px 7px;}
  	 	.subscribe2 form input.submit-field{width: 150px;background: transparent; border: 0; border: 2px solid #000;
  	 		color: #000; font-size: 15px; font-weight: 600; height: 40px;}
  	 .subscribe2 form input.submit-field:hover{background: #000; color: #fff;border: 2px solid#000;
  	 	font-weight: 600; height: 40px;}

      /* login style */

      #login{display: inline-block; width: 100%; padding: 80px 0px;}
      #login .col-sm-6{padding: 0;}
      #login .creat-new-acount h2{ text-transform: uppercase; font-size: 18px; font-weight: 600; }
      #login .creat-new-acount p{color: #999;}
      #login .creat-new-acount a{margin-top: 20px; text-transform: uppercase; border-radius: 0px; border: 2px solid#000;
        background-color: transparent; font-weight: 590; padding: 8px 15px 8px 15px;}
      #login .creat-new-acount a:hover{margin-top: 20px; text-transform: uppercase; border-radius: 0px; border: 2px solid#000;
        background-color: #000; font-weight: 590; color: #fff; padding: 8px 15px 8px 15px;}

      #login .login-customer h2{text-transform: uppercase; font-size: 18px; font-weight: 600;}
      #login .login-customer p{color: #999;}
      #login .login-customer form{margin-top: 40px;}
      #login .login-customer form .username{display: inline-block; width: 100%; font-size: 11px; color: #999; margin-bottom: 10px;}
      #login .login-customer form .user-name{width: 90%; padding: 3px 10px;
      border: 1px solid#000; display: inline-block; position: relative; margin-bottom: 20px;}
      #login .login-customer form a.forgt{color: #000; margin-top: 10px;}
      #login .login-customer form a.forgt:hover{color: #ff0000;margin-top: 10px;}
      #login .login-customer form span a{border: 2px solid#000; background: transparent; border-radius: 0; padding: 10px 15px;
        text-transform: uppercase; font-weight: 500;margin-top: 10px;}
      #login .login-customer form span a:hover{border: 2px solid#000; background: #000; border-radius: 0; padding: 10px 15px;
        text-transform: uppercase; font-weight: 500; color: #fff;margin-top: 10px;}

        /* account styles */

        #account{padding: 90px 0px;}
        #account .personal-info h2, .login-info h2{ font-size: 20px; font-weight: 600; display: inline-block; width: 100%; margin-bottom: 30px; }
        #account .personal-info .form-group, .login-info .form-group{width: 50%; float: left;}
        #account .personal-info .form-group input, .login-info .form-group input{ width: 90%; padding: 5px; }
        #account .personal-info .form-group label, .login-info .form-group label{display: inline-block; float: left; width: 100%; font-size: 12px;
        text-transform: uppercase; font-weight: normal; color: #999;}

        #account .register-btn form input[type="submit"] {border: 2px solid #000;color: #000;font-size: 1.2em;padding: 0.6em 2em;
  transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;display: inline-block;
  text-transform: uppercase;outline: none;  background-color: #fff;}

#account .register-btn input[type="submit"]:hover {background:#000;color: #fff;}

        #account .checkbox-info{width: 100%; display: inline-block; position: relative;}
        #account .checkbox-info .news-letter{color: #555; font-weight: 600; font-size: 0.85em; margin-bottom: 1em;
          display: block;text-transform: uppercase;transition: 0.5s all;-webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;-o-transition: 0.5s all; clear: both;}
        #account .checkbox-info .news-letter .checkbox i{position: absolute; bottom: 5px; left: 0;display: block;width: 20px;
          height: 20px;outline: none;border: 2px solid#394c53;}

        #account .checkbox-info .news-letter .checkbox input + i:after{content: '';background:url("../images/tick1.png") no-repeat 1px 2px;
      }

      .checkbox {margin-bottom: 4px;padding-left: 27px;font-size: 1.1em;line-height: 27px;cursor: pointer;
}
.checkbox {float: left;position: relative;font-size: 0.85em;color:#555;}
.checkbox:last-child {margin-bottom: 0;}

      .news-letter {color: #555;font-weight:600;font-size: 0.85em;margin-bottom: 1em;display: block;text-transform: uppercase;
  transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;clear: both;}
      .checkbox i {position: absolute;bottom: 5px;left: 0;display: block;width:20px;height:20px;outline: none;border: 2px solid #394c53;}
.checkbox input + i:after {content: '';top: -1px;left: -1px;width: 15px;height: 15px;font: normal 12px/16px FontAwesome;
text-align: center;
}

.checkbox input + i:after { position: absolute;opacity: 0;transition: opacity 0.1s;-o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;-moz-transition: opacity 0.1s;-webkit-transition: opacity 0.1s;}
.checkbox input {position: absolute;left: -9999px;}
.checkbox input:checked + i:after {opacity: 1;}
.news-letter:hover {color:#00BFF0;text-decoration: none; cursor: pointer;}


  	 	/* footer css */
  	 	#footer{padding: 1em 0;}
#footer .col-sm-2 h2{ font-size: 1.1em; margin-bottom: 0.5em; text-transform: uppercase;}
#footer .col-sm-2 ul{list-style: none; padding: 0; font-size: 0.9em;}
#footer .col-sm-2 ul li a{color: #B7B4B4; line-height: 2em; text-decoration: none;}
#footer .col-sm-2 ul li a:hover{color: #000;}

#footer .col-sm-4 ul{list-style: none; display: inline-block; padding: 0;}
#footer .col-sm-4 ul li{float: left; display: block;}
#footer .col-sm-4 ul li a{font-size: 1.5em; color: #000; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 ul li a:hover{font-size: 1.5em; color: #B7B4B4; margin-right: 0.8em; font-weight: 700;}
#footer .col-sm-4 p{color: #B7B4B4; line-height: 2em; font-size: 0.9em;}
#footer .col-sm-4 p a{color: #B7B4B4; line-height: 2em; font-size: 1em;}










